@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

*{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
}

.App{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
}