$main-1: #faf8f8 !default;
$main-2: #f1f1f1 !default;
$main-3: #f0f0f0 !default;
$main-4: #ffffff !default;

$accent-1: #F23C50 !default;
$accent-2: #FFCB05 !default;
$accent-3: #E9F1DF !default;
$accent-4: #4AD9D9 !default;
$accent-5: #36B1BF !default;
