// Blue
$grey-1: #343434 !default;
$grey-2: #4C4C4E !default;
$grey-3: #7B7C7E !default;
$grey-4: #98999B !default;
$grey-5: #F0F0F0 !default;

$yellow-1: #FFB200 !default;
$yellow-2: #FFC928 !default;
$yellow-3: #FFF6E1 !default;
$yellow-4: #FFFDFA !default;
$blue-1: #1C8AE3 !default;
$blue-2: #42A5F6 !default;
$blue-3: #E1ECF4 !default;
$blue-4: #FAFBFC !default;

$text-color-white: white !default;
$text-color-black: black !default;
$text-color-yellow: $yellow-4 !default;
$text-color-blue: $blue-4 !default;