@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@import "./Components/Nav";
@import "./Components/ViewPost";
@import "./Components/Posts";
@import "./Components/AddComment";
@import "./Components/About";
@import "./Globals/_colors";
@import "./Globals/_mixins";

*{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
  overflow: scroll;

}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.App{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	height: 100vh;
	background-color: $main-3;
}

.loading{
	width: 200px;
	height: auto;
	margin: 0 auto;
}

#add-post{
	width: 100%;
	margin-top: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	padding: 20px;
	border-radius: 5px;
	outline: none;
	transition: .3s;
	&:focus{
		box-shadow: -1px -1px .3px #606dbc ;
	}
}

.submit{
	float: right;
	color: black;
      font-weight: 600;
      display: block; 
      margin: 12px auto;
      width: 100px;
      max-height: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.1em;
      border-radius: 5px;
      padding: 10px;

      transition: .5s;

      &:hover{
        background: repeating-linear-gradient(
          45deg,
          #606dbc,
          #606dbc 10px,
          #465298 10px,
          #465298 20px
        );
        opacity: .8;
        color:white;
      }
}
