@import "../Globals/_colors";

.Nav{
	grid-column: 1;
	grid-template-rows: 2;
	font-size: 20pt;
	padding: 10px;
	margin: 10px;
	margin-right: 40px;
	border-radius: 2px;

}

.logo{
	width: 200px;
	margin-left: 20%;
	margin-top: 30px;

	height: auto;
}

.nav-list{
	text-align: left;
	list-style-type: none;
	margin-left: 20%;
	margin-top: 30px;
	transition: .3s ease;
	/*font-family: 'Verdana';*/
	
	li{
		
		a{
			color:black;
		}
		a:hover{
			color:darkgrey;
		}
		
	}
	
}

#writeTest{
	width: 75px;
	height: 75px;
	transition: .3s ease;
}

#writeTest:hover{
opacity: .5;
}


.writeDiv{
	position: fixed;
	right: 0;
	top: 30px;
}