.Nav{
	grid-column: 1;
	grid-template-rows: 2;
	font-size: 20pt;
	padding: 10px;
	margin: 10px;
}

.logo{
	width: 100px;

	height: auto;
}

.nav-list{
	color: green;
	text-align: left;
	list-style-type: none;
}