@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}
.Nav {
  grid-column: 1;
  grid-template-rows: 2;
  font-size: 20pt; }

.logo {
  width: 100px;
  height: auto; }

.nav-list {
  padding-left: 0;
  color: green;
  text-align: left;
  list-style-type: none; }

.ViewPosts .title {
  text-transform: capitalize;
  color: red; }

.ViewPosts .up {
  color: green; }

.ViewPosts .down {
  color: green; }









.Posts {
  grid-column: 1;
  margin-top: 150px; 
   position: absolute;
  left: 25%;
  margin-left:0px;
  width: 50%;
}

.Posts .single-post {
  padding: 10px;
  background: #f2f2f2;
  margin-top: 30px; 
  border-radius: 4px;
  height: 100px;
}

.Posts .single-post .up, .Posts .single-post .down {
  font-weight: 400; 
}

.Posts .single-post .link {
  font-weight: 700; 
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.App {
  display: grid;
  background: white;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh; }

.loading {
  width: 200px;
  height: auto;
  margin: 0 auto; }


#postHeader{
  font-size: 1.5em;
  margin-top: 12px;
  margin-left: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  transition: .3s ease;
}

#postHeader:hover{
  color: grey;
}

.buttonContainer{
  margin-left: -65px;
  margin-top: -50px;
}

.up{
  width: 90px;
  height: 50px;
  border: 0;
  background: url("../../img/up.png") no-repeat;

  background-size: 40px 40px;
  background-position: -10% 50%;
}

.down{
  

  width: 90px;
  height: 50px;
  border: 0;
  background: url("../../img/down.png") no-repeat;

  background-size: 40px 40px;
  background-position: -10% 50%;

}

span{
  position: absolute;
  margin-top: 1%;
  left: -6%;
}