@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
.Nav {
  grid-column: 1;
  grid-template-rows: 2;
  font-size: 20pt;
  padding: 10px;
  margin: 10px;
  margin-right: 40px;
  border-radius: 2px; }

.logo {
  width: 200px;
  margin-left: 20%;
  margin-top: 30px;
  height: auto; }

.nav-list {
  text-align: left;
  list-style-type: none;
  margin-left: 20%;
  margin-top: 30px;
  transition: .3s ease;
  /*font-family: 'Verdana';*/ }
  .nav-list li a {
    color: black; }
  .nav-list li a:hover {
    color: darkgrey; }

#writeTest {
  width: 75px;
  height: 75px;
  transition: .3s ease; }

#writeTest:hover {
  opacity: .5; }

.writeDiv {
  position: fixed;
  right: 0;
  top: 30px; }

.ViewPosts .title {
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 30px;
  border-radius: 4px;
  color: black;
  font-size: 36px;
  font-weight: 700; }

.ViewPosts .comment_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  grid-auto-flow: dense; }

.ViewPosts .against_comments, .ViewPosts .for_comments {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 12px;
  background: #faf8f8;
  margin-bottom: 12px;
  padding: 20px 5px;
  border-radius: 5px; }
  .ViewPosts .against_comments .buttonContainer, .ViewPosts .for_comments .buttonContainer {
    grid-column: 1;
    grid-row: 1;
    margin-top: -10px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 10px;
    padding-top: 12px; }
    .ViewPosts .against_comments .buttonContainer:hover .up, .ViewPosts .against_comments .buttonContainer:hover .down, .ViewPosts .for_comments .buttonContainer:hover .up, .ViewPosts .for_comments .buttonContainer:hover .down {
      font-weight: 400; }
    .ViewPosts .against_comments .buttonContainer .sortUp, .ViewPosts .for_comments .buttonContainer .sortUp {
      position: relative;
      top: 6px;
      transition: .2s ease; }
      .ViewPosts .against_comments .buttonContainer .sortUp:hover, .ViewPosts .for_comments .buttonContainer .sortUp:hover {
        color: #36B1BF; }
    .ViewPosts .against_comments .buttonContainer .sortDown, .ViewPosts .for_comments .buttonContainer .sortDown {
      position: relative;
      transition: .2s ease; }
      .ViewPosts .against_comments .buttonContainer .sortDown:hover, .ViewPosts .for_comments .buttonContainer .sortDown:hover {
        color: #F23C50; }
    .ViewPosts .against_comments .buttonContainer .up, .ViewPosts .against_comments .buttonContainer .down, .ViewPosts .for_comments .buttonContainer .up, .ViewPosts .for_comments .buttonContainer .down {
      margin-left: 3px; }
    .ViewPosts .against_comments .buttonContainer .up, .ViewPosts .for_comments .buttonContainer .up {
      position: relative; }
    .ViewPosts .against_comments .buttonContainer .down, .ViewPosts .for_comments .buttonContainer .down {
      position: relative;
      top: 5px; }
  .ViewPosts .against_comments .comment, .ViewPosts .for_comments .comment {
    grid-column: 2;
    padding-right: 30px; }

.Posts {
  grid-column: 2;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  overflow-y: scroll;
  height: 100vh; }
  .Posts .single-post {
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    background: #faf8f8;
    margin-top: 30px;
    border-radius: 4px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr; }
  .Posts #postHeader {
    margin-top: 12px;
    grid-column: 2;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding-bottom: 12px;
    transition: .2s ease; }
    .Posts #postHeader:hover {
      color: #70a7a9; }
  .Posts .buttonContainer {
    grid-column: 1;
    grid-row: 1;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 20px; }
    .Posts .buttonContainer:hover .up, .Posts .buttonContainer:hover .down {
      font-weight: 400; }
    .Posts .buttonContainer .sortUp, .Posts .buttonContainer .sortDown {
      font-size: 36px; }
    .Posts .buttonContainer .sortUp {
      position: relative;
      top: 10px;
      transition: .2s ease; }
      .Posts .buttonContainer .sortUp:hover {
        color: #90EE90; }
    .Posts .buttonContainer .sortDown {
      transition: .2s ease; }
      .Posts .buttonContainer .sortDown:hover {
        color: #F23C50; }
    .Posts .buttonContainer .up, .Posts .buttonContainer .down {
      margin-left: 3px; }
    .Posts .buttonContainer .up {
      position: relative; }
    .Posts .buttonContainer .down {
      position: relative;
      top: 5px; }

.comment_submit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px; }
  .comment_submit .submit_for {
    grid-column: 1; }
  .comment_submit .submit_against {
    grid-column: 2; }
  .comment_submit textarea {
    width: 100%;
    margin-top: 12px;
    max-height: 300px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 5px; }
  .comment_submit button {
    display: block;
    margin: 12px auto;
    width: 100px;
    max-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 10px; }
  .comment_submit #Fors {
    background-color: lightgreen; }
  .comment_submit #Agains {
    background-color: #f05c79; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow: scroll; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }

.App {
  display: grid;
  background: white;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  background-color: #F0F0F0; }

.loading {
  width: 200px;
  height: auto;
  margin: 0 auto; }

#add-post {
  width: 100%;
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 5px; }

.submit {
  width: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 85%;
  padding: 10px; }
